<nav class="navbar navbar-expand-lg bg-gradient bg-success fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand text-white ms-3" href="#"><i class="fa-brands fa-erlang me-2"></i>E-PORTAL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-5">
              <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" routerLink="/user-dashboard">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/user-home">Service</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/complaint-status">Complaints</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/waste-status">Waste Report</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white">Help</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
