<div style="height: auto;" class="d-flex flex-column mt-5 align-items-center justify-content-center ">
    <h2 class="mt-5 text-center ">All Waste Reports</h2>
<div class="container-fluid mb-5 ">
    
        <table class="table border text-center ">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">REPORTED BY</th>
                <th scope="col">LOCATION</th>
                <th scope="col">DATE</th>
                <th scope="col">STATUS</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="border ">1</th>
                <th class="border">Amal</th>
                <th class="border">Aluva</th>
                <th class="border ">23/45/67</th>
                <th class="border">cleared</th>
                <th class="border "><button class="btn btn-success ">Collect</button></th>
              </tr>
            </tbody>
          </table>
</div>
</div>