<div style="height: auto;" class="d-flex flex-column mt-5 align-items-center justify-content-center ">
    <h2 class="mt-5 text-center ">All Complaint Reports</h2>
    <div class="row mb-5">
        <div class="col-lg-3 mt-5">
            <div class="card mt-5 p-3 border-dark" style="width: 350px;"> 
                <div class="card-body">
                    <h4>Heading</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="d-flex  justify-content-end  align-items-start">
                    <button class="btn btn-danger me-3">Reject</button>
                    <button class="btn btn-info me-3">Pending</button>
                    <button class="btn btn-success me-3">Completed</button>
                </div>
              </div>
        </div>
    </div>
</div>