<div style="height: auto" class="w-100 d-flex">
  <div style="width: 250px; height: 90vh;" class=" me-5 mt-5 border ">
    <h3 class="m-2">Complaints</h3>
   <div class="mt-5 p-2">
    <label for="search">Search :</label>
      <input placeholder="Search complaints" type="text" class="form-control">
   </div>
  </div>
          <div class="row container mt-5">
            
            <div class="col-lg-6 mt-5">
                <div class="card mt-5 p-3 border-dark" style="width: 900px;"> 
                    <div class="card-body">
                        <h4>Heading</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="d-flex  justify-content-end  align-items-start">
                        <button class="btn btn-danger me-3">Status</button>
                        <button class="btn btn-outline-dark "><i class="fa-solid fa-xmark"></i></button>
                    </div>
                  </div>
            </div>
          </div>
  </div>