<div style="height: 90vh;" class="w-100 mt-5">
    <div class="row mt-5">
        <div class="col-lg-2 mt-5">
           <div style="height: 80vh;" class="shadow  p-3 rounded "> 
            <h4 class="text-black  mt-5 p-2">Admin Panel</h4>
            <hr class=" ">
            <div class="p-3 d-flex flex-column">
                <a class="text-decoration-none  text-black  fs-5 mb-2 " routerLink="/complaint-admin"><i class="fa-regular fa-file me-2 "></i>Complaints</a>
                <hr class="">
                <a class="text-decoration-none  text-black  fs-5  mb-2" routerLink="/waste-admin"><i class="fa-solid fa-recycle me-2"></i>Waste Reports</a>
                <hr class=" ">
                <a class="text-decoration-none  text-black  fs-5  mb-2 " routerLink="/complaint-admin"><i class="fa-solid fa-clock-rotate-left me-2"></i>History</a>
                <hr class=" ">
                <a class="text-decoration-none  text-black  fs-5  mb-3 " routerLink="/allusers"><i class="fa-solid fa-bars me-2"></i>Others</a>
            </div>

        </div>
        </div>
        <div class="col-lg-10 d-flex mt-5 justify-content-around ">
        
               <div>
                    <h2 class="mt-5 mb-5 fw-medium ">Welcome <span class="text-success ">Admin</span></h2>
                    <img height="500px" width="500px" src="https://static.vecteezy.com/system/resources/previews/006/405/796/non_2x/an-illustration-of-admin-panel-avatars-with-website-vector.jpg" alt="">

               </div>
                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6 ms-5">
                        
                     <app-chart></app-chart>
                    </div>
                
            </div>
        </div>
    </div>
</div>