<div style="height: auto" class="d-flex  justify-content-center  align-items-center flex-column mt-5 container-fluid ">
    <div class="row mt-5">
        <div class="col-lg-6 d-flex justify-content-center align-items-center container ">
            <div class=" d-flex  justify-content-center align-items-center flex-column ">
                <h4 class=" ms-5 "> Where civic responsibility meets technological ease, <br> empowering communities to address waste and other concerns efficiently, for a cleaner tomorrow... <button class="btn btn-success ms-5 mt-3" (click)="getStart()">Get Start<i class="fa-solid fa-arrow-right ms-2"></i></button></h4>
                
            </div>
        </div>
        <div class="col-lg-6">
            <img src="https://dreamjobs.in/images/staffing.gif" alt="">
        </div>
    </div>
</div>
<div class="container-fluid"><app-features></app-features></div>