<div style="height:auto" class="w-100 d-flex">
    <div style="width: 250px; height: 90vh;" class=" me-5 mt-5 border ">
        <h3 class="m-2">Waste Report</h3>
     <div class="mt-5 p-2">
      <label for="search">Search :</label>
        <input placeholder="Search waste report" type="text" class="form-control" [(ngModel)]="searchKey">
     </div>
    </div>
            <div class="row container mt-5">
              <div *ngFor="let waste of userWaste | searchPipe : searchKey" class="col-lg-3 mt-5">
                   
                    <div class="card border-0  shadow " style="width: 18rem;">
                      <div class="d-flex justify-content-center rounded mt-3 mb-2"><img class="rounded shadow " height="150px" width="240px" [src]="SERVER_URL + '/' + waste.image" [alt]="waste.date"></div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Type: {{waste.type}}</li>
                        <li class="list-group-item"><i class="fa-solid fa-location-dot me-2"></i> {{waste.location}} </li>
                        <li class="list-group-item"><i class="fa-solid fa-calendar-days me-2 "></i>{{waste.date}}</li>
                      </ul>
                      <div class="d-flex  justify-content-between m-3">
                        <button class="btn btn-outline-dark  me-3">Status</button>
                        <button class="btn btn-outline-danger  " (click)="removeWaste(waste.wasteId)"><i class="fa-solid fa-trash me-2"></i>Delete</button>
                    </div>
                    </div>
              </div>
            </div>
    </div>